#progress-bar {
    align-items: center;
    justify-content: center;
}

.progress-point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 10px 5px;
    float: left;
}

.progress-point.completed {
    background-color: #ccc;
}